@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 6%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 6%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 6%;

    --primary: 0 0% 6%;
    --primary-foreground: 0 0% 99%;

    --secondary: 50 96% 53%;
    --secondary-foreground: 0 0% 6%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 50%;

    --accent: 209 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 85% 54%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 50%;
    --input: 300 100% 99%;
    --ring: 0 0% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 99%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 99%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 99%;

    --primary: 0 0% 99%;
    --primary-foreground: 0 0% 6%;

    --secondary: 50 96% 53%;
    --secondary-foreground: 0 0% 6%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 50%;

    --accent: 209 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 85% 54%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 50%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
